* {
    margin: 0px;
    padding: 0px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-title {
    color: white;
    font-size: 24pt;
}

.nav-links {
    display: flex;
    list-style-type: none;
    display: flex;
    justify-items: flex-start;
    align-items: center;
}

.nav-links li{
    margin: 10px;
    justify-content: flex-start;
}

.nav-links p,a {
    color: white;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

a.active {
    font-weight: bold;
}

.sign-out {
    color: white;
    background-color: steelblue;
    padding: 3px 10px;
}

.banner-main {
    background-color: steelblue;
}

.banner-minor {
    background-color: black;
}

.card {
    border: 3px solid red;
    min-width: 80px;
    min-height: 200px;
}

.column {
    display: flex;
    justify-content: space-around;
}

.flex-3 {
    flex: 3;
}
.flex-1 {
    flex: 1;
}